*{
    padding: 0;
    margin: 0;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: Ubuntu;
}
.Rectangle-3 {
    height: 79px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  .logo-container {
    padding-left: 20px;
}
  .pl-logo {
    object-fit: contain;
  }
  .navbar ul li {
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    font-style: normal;
    font-stretch: normal;
    padding: 0px 30px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #949ea0;
    border-right: 1px solid #e8e9ed;
  }
  .navbar ul li:last-child {
    border: none;
}
  .profile-pic {
    position: relative;
    object-fit: contain;
    padding-left: 20px;
    vertical-align: middle;
    top: -2px
  }
   .pl-hero.pl-hero-bg.flex-container {
    align-items: flex-end;
}
   .pl-hero.pl-hero-bg {
    background-image: url(../img/pl-hero.png);
}
  .pl-hero {
    object-fit: contain;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
  .headlines {
   max-width: 40%;
   padding-bottom: 50px;
   position: relative;
   left: -10.4%;
}
  .headlines .flex-container {
    justify-content: flex-start;
}
  .Rectangle-1 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .pl-image {
    position: relative;
    object-fit: contain;
    border-radius: 3px;
    top: 50px;
    left: 20px;
}
  .star-white {
    max-width: 30px;
    padding-right: 10px;
    height: 30px;
    object-fit: contain;
}
  .-sightings {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: white;
    padding: 9px 15px;
  }
  .Balloon-Flower {
   
    font-size: 35px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
  .Platycodon-grandiflo-2 {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
  .base {
    margin-right: 120px;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
    background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  }
  .Create-Account {
    font-size: 14px;
    padding: 18px 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  .info-section.flex-container {
    padding: 50px 120px 50px 0px;
}
  .Kingdom-Plantae-Ord {
    font-size: 13px;
    font-weight: bold;
    list-style: none;
    padding-left: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: justify;
    color: #949ea0;
  }
  .Platycodon-grandiflo {
    max-width: 750px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: justify;
    color: #949ea0;
  }
  .Rectangle {
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    margin: 0px 10px;
  }
  .pl-image-box {
    max-width: 280px;
    height: 280px;
    object-fit: contain;
    border-radius: 3px;
  }
  .Rectangle-2.flex-container {
    justify-content: space-around;
}
  .Rectangle-2 {
    width: 136px;
    height: 25px;
    left: 20px;
    top: 40px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
}
  .San-Francisco-US {
    width: 94px;
    height: 12px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #df9186;
  }
  .pl-icon-location {
    max-width: 10px;
    height: 13px;
    object-fit: contain;
  }
  .Balcony-Flower {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #334144;
  }
  .flex-container.author {
    padding: 20px;
    justify-content: flex-start;
}
  .author-box {
    padding-left: 15px;
}
  .by-Adam-Moore {
    padding-top: 5px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #949ea0;
  }
  .Platycodon-grandiflo-3 {
    height: 62px;
    padding: 0px 20px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: justify;
    color: #949ea0;
  }
  .pl-icon-comment {
    width: 16px;
    height: 15px;
    padding-right: 10px;
    object-fit: contain;
}
  .-Comments {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: justify;
    color: #949ea0;
}
.pl-icon-favorite {
    max-width: 18px;
    height: 15px;
    padding-right: 10px;
    object-fit: contain;
}
.-Favorites {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: justify;
    color: #949ea0;
}
.flex-container.comm-fav {
    padding: 20px;
}
.separator {
    border: 0.5px solid #e8e9ed;
    margin: 0px 15px 50px 10px;
}
.separator-in-box {
    margin: 20px 20px 0px 20px;
    border: 0.5px solid #e8e9ed;
}
.mobile-navigation {
  display: none;
}
/******* POP UP ******/
.popup-open{
    cursor: pointer;
}
.close {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.label-name{
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #949ea0;
}
.label-fill{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  color: #334144;
}
.profile-holder {
    max-width: 80px;
    height: 80px;
    padding-right: 30px;
    object-fit: contain;
  }
  .Michael-Berry {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #334144;
  }
  .Rectangle-popup{
    visibility: hidden;
    max-width: 600px;
    height: 610px;
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 20%;
    margin: 0 auto;
    right: 0%;
  }
  .info-holder {
    padding-bottom: 30px;
}
  .info-holder h3 {
    padding-bottom: 15px;
}
  .Rectangle-popup .-sightings {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: left;
    padding: 0px;
    letter-spacing: normal;
    color: #949ea0;
  }
  .Rectangle-popup .base {
    max-width: 50%;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
    background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
}
.profile-container.flex-container {
    justify-content: flex-start;
    padding: 80px 0px 40px 0px;
    max-width: 400px;
    margin: 0 auto;
}
.information-holder {
    margin: 0 auto;
    max-width: 400px;
}
#cover{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
.cover-visible{
    display: block !important;    
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

}
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

 /****************************/

/****** HOVER STATE *****/
.base:hover {
    background: #d89e96;
}

/************ RESPONSIVE ************/

/************* MOBILE *************/
@media (max-width:420px){

.Kingdom-Plantae-Ord {
  padding-bottom: 35px;
  padding-left: 0px;
}
.info-section.flex-container {
  padding: 40px 40px 40px 40px;
}
.flex-container{
  display: block;
}
.Rectangle-2.flex-container, .flex-container.author, .flex-container.comm-fav, .flex-container.Rectangle-3{
  display: flex;
}
.separator {
  display: none;
}
.location {
  text-align: center;
}
.logo-container {
  position: fixed;
  z-index: 10;
}
.pl-hero.pl-hero-bg {
  background-image: url(../img/pl-image-mob.png);
}
.pl-image {
  display: none;
}
.base {
  position: relative;
  left: 40px;
  top: 25px;
  width: 190px;
  margin-right: 0px;
}
.headlines {
   max-width: 100%;
   padding-top: 140px;
   padding-left: 40px;
   left:0;
}
.headlines .flex-container {
  display: flex;
}
.pl-image-box {
  max-width: 100%;
  height: auto;
}
.desktop{
  display: none;
}
.mobile-navigation {
  display: block;
}
body input + label {
  position: fixed;
  top: 30px;
  right: 28px;
  height: 20px;
  width: 24px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #c1c1c1;;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body input ~ nav > ul {
  position: absolute;
  top: 25%;
  left: 0%;
  right: 0%;
}
.navbar ul li {
  text-align: left;
  border-right: none;
}
.navbar ul li.popup-open {
  padding-top: 25px;
  font-weight: 600;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #949ea0;
  font-weight: 600;
  display: block;
  padding: 25px 0px;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}
.Rectangle-popup {
  z-index: 20;
  position: fixed;
  top: 0%;
  height: 100vh;
}
.profile-container.flex-container {
  padding: 60px 0px 40px 40px;
}
.information-holder {
  padding-left: 40px;
}
.info-holder {
  padding-bottom: 20px;
}
.profile-holder {
  padding-bottom: 20px;
}
.Rectangle-popup .base {
  width: 190px;
  position: unset;
  margin: unset;
  
}
.close {
  right: 24px;
  top: 29px;
}
}